{% extends 'base.html' %}
{% load static %}

{% block title %}个人中心{% endblock %}

{% block siderbar %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a href="">个人资料</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a href="{% url 'account:book_shelf' user.pk %}">书架</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a href="">通知</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}